#lateraleb {
  float: left;
  width: 160px;
}

.wiki {
  background-image: url("img/wiki.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 160px;
  width: 160px;

}

.listeg {
  padding: 5px 0;
  margin: 0;
}

.listeg li {
  font-size: 0.75em;
  display: block;
  line-height: 17px;
  text-indent: 10px;
}

.listeg2 {
  padding: 0;
  margin: 0;
}

.listeg2 li:first-child {

  padding: 0.25em 0;
  font-size: 0.75em;
  display: block;
  text-indent: 0px;
}

.listeg2 li {

  padding: 0.25em 0;
  font-size: 0.75em;
  display: block;
  text-indent: 18px;
}

#tete {
  border-bottom: 1px solid blue;
  overflow: auto;
}

.menuo {

  margin-left: 60%;
}

a{
  text-decoration: none;
}

.menuo li {
  display: inline-block;
  font-size: 0.75em;
}
.menuo ul {
  margin: 0;
  padding: 0;
  text-align: right;
  text-indent: 5px;
}

.menub {
  display: inline-block;
  margin-top: 32px;
}

.menub li {
  display: inline-block;
  font-size: 0.75em;
  text-indent: 5px;
  border-left: 1px solid blue;
}

.menub ul {
  padding: 0;
  margin: 0;
}

.menub2 {
  display: inline-block;
  margin-top: 29px;
  float: right;
}

.menub2 li {
  display: inline-block;
  text-indent: 10px;
  font-size: 0.75em;
  border-left: 1px solid blue;
}

.menub2 ul {

  margin: 0;
  padding: 0;
}

.menub2 li span {
  border: 1px solid grey;
  padding: 2.5px;
}

.search {
  padding: 0;
  background-color: transparent;
  border: 0px;
  width: 280px;
  font-size: 1.1em;
}

.bouton {
  background-image: url("img/search.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  padding: 0;
  border: 0px;
  cursor: pointer;
  width: 2em;
}

.article {
  margin-left: 10em;
padding: 15px 0px 0px 30px;
  border-left: 1px solid blue;
}

h1 {
  font-family:Times;
font-size: 1.8em;
border-bottom: 1px solid grey;
  margin-top: 0;
}

.recap {
  padding: 5px;
width: 25em;
background: #f9f9f9;
border: 1px solid #aaa;
float: right;
font-size: 0.9em;
line-height: 1.4em;
margin: 0 0 0.5em 1em;
max-width: 325px;
word-wrap: break-word;
}

.titre {
padding: 3px;
text-align: center;
font-weight: bold;
font-size: 1.4em;
line-height: 1.1em;
background-color: rgb(238, 238, 255);
}

.imgal {
  background-image: url("img/alan.jpg");
  background-position: center;
  background-repeat: no-repeat;
  width: 330px;
  height: 310px;
}

.trecap {

}

table {

}

th {
  vertical-align: super;
  text-align: left;
  width: 9em;
}

td {
  vertical-align: super;
  padding-top: 4px;
  white-space: pre-line;
}

p {
  font-size: 0.875em;
  font-family: sans-serif;
  line-height: inherit;
  margin: 0.5em 0;
}

.sommaire {
  border: 1px solid grey;
  padding: 7px;
  margin-right: 40em;
}

.stitre {
  text-align: center;
  font-family: sans-serif;
}

ol {

}

li {

}
